@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overscroll-behavior: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.gallery {
  display: flex;
  width: max-content;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-scrollbar-width: none;
}
.gallery::webkit-scrollbar{
  display: none;
}

.bar-1{
  transform: rotate(-45deg) translate(-6px,7px);
}
.bar-2{
  transform: translateX(200%);
  opacity: 0;
}
.bar-3{
  transform: rotate(45deg) translate(-7px,-8px);
}
.transit{
  transition: all .3s ease;
}
.tech-gap{
  grid-row-gap: 0.65rem;
}